
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

  <div class="container">
    <div class="row">
      <div class="col-lg-3 admin_link">
        <div class="card">
          <h1>Countries</h1>
            <div class="card-body">
              <% @countries.each do |country| %>
                <div class="row">
                  <%= link_to country.name, country_path(country) %> 
                  <%= link_to "Edit", edit_country_path(country) %>
                  <%= link_to "Destroy", country, method: :delete, data: { confirm: "Are you sure you want to trump(destroy) this country?"} %>
                </div>
              <% end %>
            </div>
          </div>
        </div>

    <div class="col-lg-3 admin_link">
      <div class="card">
        <h1>States</h1>
          <div class="card-body">
            <% @states.each do |state| %>
              <div class="row">
                <%=link_to  state.name, state_path(state)  %>
                <%= link_to "Edit", edit_state_path(state) %>
                <%= link_to "Destroy", state, method: :delete, data: { confirm: "Are you sure you want to delete this state?"} %>                
              </div>
            <% end %>
          </div>
        </div>
      </div>

    <div class="col-lg-6 admin_link">
      <div class="card blogs-card">
        <h1>Blogs</h1>
          <div class="card-body">
            <% @blogs.each do |blog| %>
              <div class="row">
                <%=link_to blog.title, blog_path(blog)  %>
                <%= link_to "Edit", edit_blog_path(blog) %>
                <%= link_to "Destroy", blog, method: :delete, data: { confirm: "Are you sure you want to destroy this blog?"} %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
  </div>
</div>
</body>
</html>