<nav class="navbar navbar-dark bg-dark bg-light justify-content-center">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to "Home", root_path %>
        <%= link_to "About Me", about_path %>
        <%= link_to "Countries", countries_path %>
        <%= link_to "States", states_path %>
        <%= link_to "Blogs", blogs_path %>
      </li>
    </ul>
  </div>
</nav>
